@import url("https://fonts.googleapis.com/css?family=Signika:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif; }

nav {
  background-color: #40596B;
  padding: .75rem; }

nav ul {
  list-style: none;
  display: flex;
  justify-content: center; }

nav a {
  color: #EDC45B;
  text-decoration: none;
  font-size: 1.25rem; }

nav li {
  padding: .5rem; }

.hero {
  height: 80vh;
  background-color: #55C0EC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.hero h1 {
  color: #4C4C4C;
  font-size: 4.75rem;
  margin-top: 5rem; }

.hero p {
  color: #fff;
  font-size: 1.7rem;
  padding-left: 7rem;
  padding-right: 7rem;
  margin-top: 1rem;
  font-weight: 400;
  margin-bottom: 4rem; }

.hero-content {
  margin-bottom: 3rem; }

.hero-btn {
  background-color: #fff;
  color: #4C4C4C;
  font-size: 1.75rem;
  text-decoration: none;
  padding: 1.30rem 3rem;
  position: relative;
  border-radius: 4px; }

.hero-logo {
  width: 2.5rem;
  margin: -10px 10px; }

.the-bot {
  width: auto;
  height: 75%; }

#what-is h1 {
  margin-top: 2rem;
  text-align: center;
  font-size: 2.25rem; }

.header-hr {
  width: 160px;
  border-color: #55C0EC;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 2rem; }

.what-is-wrapper {
  display: flex;
  flex-direction: column; }

.what-is-wrapper p {
  padding: 1rem 3rem; }

#what-is p {
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 20px; }

.italics {
  font-style: italic;
  padding-bottom: 4rem; }

#how-it-works {
  background-color: #90DDAA;
  padding-bottom: 5rem; }

#how-it-works h1 {
  text-align: center;
  padding-top: 3rem; }

.card-img {
  width: 100%;
  padding: 3rem; }

.card {
  background-color: #40596B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 24em;
  border-radius: 5px;
  margin: 2rem; }

.card-body {
  background-color: #fff;
  padding: 3rem;
  line-height: 1.6; }

.how-it-works-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.dark-hero-btn {
  background-color: #40596B;
  color: #fff;
  font-size: 1.75rem;
  text-decoration: none;
  padding: 1.30rem 3rem;
  position: relative;
  border-radius: 4px;
  text-align: center; }

#use-today h1 {
  text-align: center;
  padding-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 2.2rem; }

.hero-button {
  display: flex;
  justify-content: center; }

#use-today p {
  margin: 5rem;
  text-align: center;
  line-height: 1.6;
  font-size: 1.2rem; }

footer p {
  text-align: center; }

@media (min-width: 800px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid red; }

  .the-bot {
    width: auto;
    height: 50%; }

  .hero-content {
    width: 40vw; }

  .what-is-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center; }

  .what-is-wrapper p {
    width: 35vw; }

  .what-is-body {
    width: 75%;
    margin-left: 15rem; }

  .how-it-works-wrapper {
    display: flex;
    flex-direction: row; } }

/*# sourceMappingURL=main.css.map */
